app/unencrypted/
app/decrypted/
tmp/
nbs/tmp/
models/
*.pkl
datasets/exports/*.json
.DS_Store
datasets/spam-classifier/
datasets/zips/
lib/
etc/
include/
share/
/Scripts
/notes.md
/app/__pycache__
/.env
/app/users/__pycache__