{% extends "base.html " %}
{% block  title %} Welcome | {{super()}}{% endblock  %}

{% block content %}
<h1>
    Welcome to PlayListify
</h1>
        <section>
            <h3>Transform your viewing experience</h3>
            <p>With our cutting-edge PlayListify app built on FastAPI & NoSQL. Dive into a world of exclusive content, advanced features, and seamless user experience.</p>
        </section>
        <section>
            <h2>Key Features:</h2>
            <ul>
                <li><strong>Personalized User Profiles:</strong> Create custom user profiles tailored to your preferences.</li>
                <li><strong>Secure Authentication:</strong> Protect your data with advanced authentication mechanisms.</li>
                <li><strong>Seamless Playback:</strong> Enjoy uninterrupted playback with resumable video functionality.</li>
                <li><strong>Effortless Search:</strong> Find your favorite content effortlessly with our intuitive search engine.</li>
                <li><strong>User-Generated Content:</strong> Add your favorite videos from YouTube directly to your personal library.</li>
                <li><strong>Custom Playlists:</strong> Create personalized playlists to organize and enjoy your videos your way.</li>
            </ul>
        </section>
        <section>
            <p>Join us on this journey as we redefine the way you experience video content. Sign up now and unlock a world of possibilities!</p>
            <p>Ready to elevate your viewing experience? Get started today!</p>
        </section>
{% endblock  %}